/** Add css rules here for your application. */
body {
  font-family:arial,sans-serif
}

div,td {
  color:#000000
}

a:link {
  color:#0000cc
}
     
a:visited {
  color:#551a8b
}

a:active {
  color:#ff0000
}

button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

img {
  margin-top: 0px;
}


.gwt-row-odd {
  vertical-align: top;
  background-color: rgb( 149, 206, 145 );
}

.gwt-row-even {
  vertical-align: top;
  background-color: rgb( 189, 246, 185 );
}

.gwt-row-header {
  vertical-align: top;
  background-color: rgb( 234, 194, 78 );
}

.gwt-row-main {
  vertical-align: top;
  background-color: rgb( 245, 226, 170 );
  /**background-color: rgb( 234, 224, 156 );*/
}